:root{
    --green: #c2d368;
    --darkGreen: #4e584a;
    --cyan: #567b79;
    --brown: #a77b5b;
    --darkBrown: #80493a;
    --gray: #45444f;
    --blue: #3a3858;
    --cream: #f2f0e5;
    --peach: #e5ceb4;
}


h1 {
    color:var(--darkGreen);
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

body{
    .container {
    position: relative;
    width: 50%;
    }

    .container .fridge {
    position: absolute;
    top: 210%;
    left: 20%;
    transform: translate(-20%, 110%);
    -ms-transform: translate(-20%, 110%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 50px 80px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    }

    .container .note {
    position: absolute;
    top: 230%;
    left: 20%;
    transform: translate(-20%, 130%);
    -ms-transform: translate(-20%, 130%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 80px 80px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    }

    .container .oven {
    position: absolute;
    top: 240%;
    left: 100%;
    transform: translate(-100%, 140%);
    -ms-transform: translate(-100%, 140%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 70px 90px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    }


    .container img {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
        
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
        
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    }

    @media screen and (max-width: 2048px) {
    img.bg {
        left: 50%;
        margin-left: -512px;   /* 50% */
    }
    }

}
